@model CRUD.Models.Customer
@{
    ViewData["Title"] = "AddCustomer";
}

<h1>Add Customer</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AddCustomer" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input id="ImageFile" type="file" name="file" class="form-control"  />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
